@media screen {

    * {
        font-family: "Impact";
        font-size: 30px;
    }

    body {
        max-width: 1200px;
        padding: 50px;
    }

    button {
        border-radius: 10px;
        margin-bottom: 10px;
        font-size: 35px;
    }

    img.face {
      width: 100px;
      height: 100px;
      border-radius: 50px;
      margin: 3px;
    }
}
